* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menuBar {
  display: flex;
  width: 100%;
  background-color: rgb(252, 153, 24);
  margin: auto;
  padding: 8px;
}

.image-div {
  height: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.image-div img {
  height: 100%;
}

.navTop,
ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  width: 60%;
  color: white;
}

.menuBtn {
  display: flex;
  gap: 2px;
  width: 40%;
}

.btn {
  padding: 8px 20px;
  background-color: black;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.menuHero {
  width: 70%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.heroRight {
  display: flex;
  gap: 15px;
}

.heroDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.image-div-hero img {
  height: 25px;
  display: flex;
  align-items: center;
}

.menu {
  width: 100%;
  background-color: rgb(252, 153, 24);
  border: 1px solid black;
  padding: 15px;
}

.menu nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  width: 80%;
  margin: auto;
}

.menu nav ul li .nav {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.heroSection > img {
  width: 100vw;
}

.updates {
    background-color: #000F5E;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.updatesTag {
    border-right: 2px solid white;
    padding-right: 10px;
}

.updateBottom {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.image-div-update img {
    height: 60px;
    display: flex;
    align-items: center;
  }

  .click {
    color: #FC9928;
  }

  .process {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .user {
    border-radius: 50%;
    width: 60%;
    
  }

  .userImg {

    position: absolute;
    top: -8%;
    left: 30%;
  }

  .userSection {
    margin: 6% auto;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 50px;
    
  }

  .userDetails {
    width:18%;
    line-height: 28px;
    padding: 10px;
    text-align: start;
    position: relative;
  }

  .green {
    background-color: #9EB23B;
  }

  .yellow {
    background-color: #FFCB42;
  }

  .peach {
    background-color: #F37878;
  }

  .blue {
    background-color: #21E1E1;
  }

  .userHeading {
    padding: 60px 20px 40px;
    font-size: 20px;
  }

  .readMore {
    border-radius: 10px;
    padding: 15px 35px;
    background-color: #fff;
    color: black;
    font-weight: bold;
    border: 0;
    margin: 25px 50px;
  }